@font-face {
    font-family: myFirstFont;
    src: url(../../public/image_Game_XucXac/Pony.ttf);
}

.fontXucXac {
    font-family: myFirstFont;
    background: url(../../public/image_Game_XucXac/bgGame.png);
    background-position: center top;
    background-size: 100% 100%;
    height: 100vh;
}